<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/nft?collectionId={{.collectionId}}&addr={{.addr}}" method="POST">
        <input name="name" placeholder="name">
        <input name="desc" placeholder="description">
        <input name="price" placeholder="price" type="number">
        <input name="count" placeholder="count" type="number">
        <input name="image" placeholder="image" type="file">
        <button>Create nft</button>
    </form>
    <div>
        {{range .nfts}}
            <div>
                <div>ID: {{.Id}}</div>
                <div>Name: {{.Name}}</div>
                <div>Description: {{.Description}}</div>
                <div>Count: {{.Count}}</div>
                <img src="{{.Image}}" alt="nft-image">
            </div>
        {{end}}
    </div>
</body>
</html>